.app-name {
    color: white;
    font-size: 18pt;
    margin: 0;
    text-shadow: -1px 1px 0 coral, 1px 1px 0 coral, 1px -1px 0 coral, -1px -1px 0 coral;
    font-weight: 8px;
}

.space {
    width: 48px;
}