<header mdcToolbar >
    <div mdcToolbarRow>
        
        <section mdcToolbarSection alignStart>
            <span>
                <a *ngIf="showBackLink()" [routerLink]="['/home']" mdcToolbarMenuIcon>
                    <i class="material-icons">&#xE5C4;</i>
                </a>
                <div *ngIf="!showBackLink()" class="space"></div>
            </span>
            <span class="app-name" mdcToolbarTitle>groupList</span>
        </section>
        
        <section mdcToolbarSection alignEnd>
            <span >{{userInfo?.name}}</span>
            <button 
                mdcTopAppBarAction
                mdcIconButton 
                class="material-icons"
                label="logout"
                (click)="onExitClick()">
                exit_to_app
            </button>
        </section>
        
    </div>
</header>

