<div class="page">
    <div class="list-name">
        {{list.name | titlecase}}
    </div>
    <div class="form-item">
        <div mdcTextField class="input-item-name" [box]="false" [outlined]="true" [dense]="true">
            <input 
                mdcTextFieldInput
                type="text"
                tabindex="0"
                (keydown.enter)="onEnterUp($event)"
                [(ngModel)]="formItem.name"
                name="name"
            />
            <label mdcFloatingLabel>Item</label>
        </div>

        <div mdcTextField class="input-item-amount" [box]="false" [outlined]="true" [dense]="true">
            <input
                mdcTextFieldInput
                type="number"
                min="0"
                step="1"
                tabindex="1"
                (keydown.enter)="onEnterUp($event)"
                [(ngModel)]="formItem.amount"
                name="amount"
            />
            <label mdcFloatingLabel>Qnt</label>
        </div>

        <div mdcTextField class="input-item-price" [box]="false" [outlined]="true" [dense]="true">
            <input
                mdcTextFieldInput
                currencyMask
                type="tel"
                tabindex="2"
                (keydown.enter)="onEnterKeyDownInputPrice()"
                [(ngModel)]="formItem.price"
                name="price"
            />
            <label mdcFloatingLabel>Preço</label>
        </div>
    </div>

    <div mdcListGroup class="list-container">
        <ul mdcList [dense]="false" *ngFor="let item of list.items">
            <li mdcListItem>
                <div class="list-item">
                    
                    <div class="list-item-btn-cart">
                        <button 
                        mdcIconButton
                            [on]="item.inCart"
                            class="material-icons"
                            iconOn="done"
                            iconOff="add_shopping_cart"
                            (onChange)="onButtomCartClick(item)"
                        ></button>
                    </div>

                    <div 
                    class="list-item-name" 
                    (click)="onListItemClick(item)" 
                    (dblclick)="onItemDblClick(item); exclusionDialog.open()">
                        {{ item.name | titlecase}}
                    </div>

                    <div class="list-item-amount">
                        {{ item.amount }}
                    </div>
                    <div class="list-item-totals">
                        <div class="list-item-sub-total">
                            {{ item.price | currency:'BRL' }}
                        </div>

                        <div class="list-item-total">
                            Total: {{ item.total | currency:'BRL' }}
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div class="footer">
        <div class="footer-cart-icon">
            <i class="material-icons">shopping_cart</i>
        </div>
        <div class="footer-total-incart">
            {{ list.totalInCart | currency:'BRL' }}
        </div>
        <div class="footer-total">
            <strong>{{ list.total | currency:'BRL'}}</strong>
        </div>
    </div>

</div>

<aside #exclusionDialog="mdcDialog" mdcDialog mdcFocusTrap>
    <div mdcDialogSurface>
        <header mdcDialogHeader>
            <h2 mdcDialogHeaderTitle>Excluir Item</h2>
        </header>
        <section mdcDialogBody>
          Deseja excluir o item <b>{{itemToRemove.name | titlecase}}</b>?
        </section>
      <footer mdcDialogFooter>
        <button mdcButton mdcDialogCancel>Não</button>
        <button mdcButton mdcDialogAccept (click)="onDialogButtonExcludeClick()">Excluir</button>
      </footer>
    </div>
    <div mdcDialogBackdrop></div>
</aside>