.page {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 90vmax;
    padding: 5px;
}

.form-item {
    display: flex;
    width: 100%;
    height: 80px;
}

.input-item-name {
    width: inherit;
}

.input-item-amount {
    width: 100px;
}

.input-item-price {
    width: 180px;
}

.list-container {
    height: inherit;
    overflow-y: auto;
}

li {
    padding: 0;
    padding-right: 5px;
    border-bottom:1px solid #ccc;
}

.list-name {
    font-family: 'Roboto';
    font-size: 1.2em;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-item {
    display: flex;
    width: 100%;
}

.list-item-btn-cart {
    width: 70px;
}

.list-item-name {
    display: flex;
    align-items: center;
    width: inherit;
}

.list-item-amount {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
}

.list-item-totals {
    display: flex;
    flex-direction: column;
    width: 245px;
    text-align: end;
}

.list-item-total {
    font-size: 0.7em;
}

.footer {
    font-family: 'Roboto';
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 5px 5px;
    height: 50px;
}

.footer-cart-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
}

.footer-total-incart {
    display: flex;
    width: 50%;
    justify-content: flex-start;
    align-items: center;
    margin: 0px 5px 0px 5px;
}

.footer-total {
    display: flex;
    width: 50%;
    justify-content: flex-end;
    align-items: center;
    margin: 0px 5px 0px 5px;
}

@media(min-width: 1200px) {
    .page{
      width: 1120px;
      margin: 0 auto;
      height: calc(100vh - 141px);
    }
    .footer {
        left: 0;
    }
}