

// import theming for all mdc components:
@import "@material/button/mdc-button";
@import "@material/toolbar/mdc-toolbar";
@import "@material/dialog/mdc-dialog";
@import "@material/textfield/mdc-text-field";
@import "@material/list/mdc-list";
@import "@material/icon-button/mdc-icon-button";
@import "@material/icon-toggle/mdc-icon-toggle";
@import "@material/fab/mdc-fab";

body {
    padding: 0 !important;
    margin: 0 !important;
    height: 100vh;
}

.material-icons.tiny { 
    font-size: 1rem;
    width: 1rem;
    overflow: hidden;
}
.material-icons.small { 
    font-size: 2rem; 
    width: 2rem;
    overflow: hidden;
}
.material-icons.medium { 
    font-size: 4rem; 
    width: 4rem;
    overflow: hidden;
}
.material-icons.large { 
    font-size: 6rem; 
    width: 6rem;
    overflow: hidden;
}
.material-icons.extra-large { 
    font-size: 10rem; 
    width: 10rem;
    overflow: hidden;
}