$mdc-theme-primary: #BF360C;


// import theming for all mdc components:
@import "@material/button/mdc-button";
@import "@material/toolbar/mdc-toolbar";
@import "@material/dialog/mdc-dialog";
@import "@material/textfield/mdc-text-field";
@import "@material/list/mdc-list";
@import "@material/card/mdc-card";
@import "@material/icon-button/mdc-icon-button";
@import "@material/icon-toggle/mdc-icon-toggle";
@import "@material/fab/mdc-fab";
@import "@material/snackbar/mdc-snackbar";


body {
    font-family: 'Roboto';
    padding: 0 !important;
    margin: 0 !important;
}

.mdc-toolbar__row {
    height: 64px !important;
}

.mdc-toolbar__section {
    align-items: center;
}

.material-icons.tiny { 
    font-size: 1rem;
    width: 1rem;
    overflow: hidden;
}
.material-icons.small { 
    font-size: 2rem; 
    width: 2rem;
    overflow: hidden;
}
.material-icons.medium { 
    font-size: 4rem; 
    width: 4rem;
    overflow: hidden;
}
.material-icons.large { 
    font-size: 6rem; 
    width: 6rem;
    overflow: hidden;
}
.material-icons.extra-large { 
    font-size: 10rem; 
    width: 10rem;
    overflow: hidden;
}

@media only screen and (max-width: 720px) {
    .mdc-card {
        margin: 0 !important;
        width: 100% !important;
        height: 100% !important;
    } 
}