<div class="page">
    <div mdcListGroup class="list-container">
        <ul mdcList *ngFor="let list of lists">
            <li mdcListItem >
                <div class="list-item">
                    <div class="item-icon">
                        <span *ngIf="!list.isAllInCart() && !list.isEmpty()" class="material-icons-outlined">assignment</span>
                        <span *ngIf="list.isEmpty()" class="material-icons-outlined">assignment_late</span>
                        <span *ngIf="list.isAllInCart()" class="material-icons-outlined">assignment_turned_in</span>
                    </div>
                    <div class="item-name" (click)="onListItemClick(list.id)">
                        {{ list.name | titlecase }}
                    </div>
                    <div class="item-total">{{ list.total | currency:'BRL' }}</div>
                    <div class="item-icon">
                        <button 
                            mdcIconButton
                            z-index="9999"
                            class="material-icons-outlined"
                            (click)="onListItemEditButtonClick(list); dialogList.open()">
                            edit
                        </button>
                    </div>
                    <div class="item-icon">
                        <button 
                            mdcIconButton
                            z-index="9999"
                            class="material-icons-outlined"
                            (click)="onListItemDeleteButtonClick(list); exclusionDialog.open()">
                            delete
                        </button>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div class="btn-newlist-container">
        <button mdcFab extended class="btn-new-list" (click)="dialogList.open()">
            <span mdcFabIcon class="material-icons">note_add</span>
            <span mdcFabLabel>Nova Lista</span>
        </button>
    </div>

</div>

<aside #dialogList="mdcDialog" mdcDialog mdcFocusTrap>
    <div mdcDialogSurface>
    <header mdcDialogHeader>
        <h2 mdcDialogHeaderTitle>{{editing ? 'Editar' : 'Nova'}} Lista</h2>
    </header>
    <section mdcDialogBody>
        <div mdcTextField class="input-list-name" [box]="false" [outlined]="true" [dense]="true">
            <input 
                mdcTextFieldInput
                #name
                [(ngModel)]="listName"
                type="text"
                tabindex="0"
                name="listName"
            />
            <label mdcFloatingLabel>Nome da Lista</label>
        </div>
    </section>
    <footer mdcDialogFooter>
        <button mdcButton mdcDialogCancel (click)="onDialogListButtonCancelClick()">CANCELAR</button>
        <button mdcButton mdcDialogAccept (click)="onDialogListButtonSaveClick()">SALVAR</button>
    </footer>
    </div>

    <div mdcDialogBackdrop></div>
</aside>

<aside #exclusionDialog="mdcDialog" mdcDialog mdcFocusTrap>
    <div mdcDialogSurface>
        <header mdcDialogHeader>
            <h2 mdcDialogHeaderTitle>Excluir Lista</h2>
        </header>
        <section mdcDialogBody>
          Deseja excluir a Lista <b>{{selectList.name | titlecase}}</b>?
        </section>
      <footer mdcDialogFooter>
        <button mdcButton mdcDialogCancel>Não</button>
        <button mdcButton mdcDialogAccept (click)="onExclusionDialogButtonExcludeClick()">Excuir</button>
      </footer>
    </div>
    <div mdcDialogBackdrop></div>
</aside>